<footer class="container text-center">
  <p>
    Noob made product, <a href="https://evewho.com/pilot/I+like+biscuits" target="_blank">I like Biscuits</a>
  </p>
  <p>Calculations and math helped with Hulk</p>
  <p>
    Database Provided by <a href="https://www.fuzzwork.co.uk/" target="_blank">Steve 'fuzzysteve' Ronuken</a>
  </p>
  <p>
    Database on <a href="https://www.eveonline.com/signup/?invc=a9af4d7c-7d69-4d5c-bea7-3c4a1ec56493" target="_blank">Eve Online</a> is 2020-02-26 <a href="https://developers.eveonline.com/resource/resources" target="_blank">1.0</a> Invasion
  </p>
  <p>
    Database Dump files are located in <a href="https://www.fuzzwork.co.uk/dump/" target="_blank"> Here from Fuzzysteve</a>
  </p>
  <p>
    Discord widget by <b>joshschmille</b> <a href="https://github.com/joshschmille/discord-widget" target="_blank"> Here </a>
  </p>
  <div id="loadtime"></div>
  <script type='text/javascript'>
  var d2 = new Date();
  var endtime = d2.getTime();
  var totaltime = (endtime - starttime)/1000;
  var result = Math.round(totaltime*100)/100;
  document.getElementById("loadtime").innerHTML = 'Page loaded in: ' + result +' seconds';
  </script>
</footer>
