<?php
if (session_status() == PHP_SESSION_NONE)
    session_start();

    $fields = [
        "__m1" => filter_input(INPUT_GET, "menu0"), // Empire Name. Eg. Amarr
        "__m2" => filter_input(INPUT_GET, "menu1"), // Class Name. Eg. Frigate
        "__m3" => filter_input(INPUT_GET, "menu2"), // Ship Name. Eg. Crucifier
        "__m4" => filter_input(INPUT_GET, "menu3"), // Full ship path. Eg "Amarr/Frigate/Crucifier"
        'BPODrop' => filter_input(INPUT_GET, 'bpo'), // BPODrop input
        'sdp' => filter_input(INPUT_GET, 'sdp'), // ship drop input
        'Varient' => filter_input(INPUT_GET, 'Varient')
    ];

    $ShipName = $fields['__m3'];
    /*
     * ============================================================================================================
     * This is to mitigate a client side javascript issue. Don't mind this. :x
     * ============================================================================================================
     */
    {
        if (empty($fields['BPODrop']))
            $fields['BPODrop'] = 0;
            if (empty($fields['sdp']))
                $fields['sdp'] = 1;
                if (empty($fields['Varient']))
                    $fields['Varient'] = 0;

                    if (empty($fields['ship'])) {
                        $fields['ship'] = @$_SESSION['oShip'];
                    } else if ($fields['ship'] !== $_SESSION['oShip']) {
                        @$_SESSION['oShip'] = $fields['ship'];
                    }
                    if (empty($fields['Varient'])) {
                        $fields['Varient'] =@$_SESSION['oVarient'];
                    } else if ($fields['Varient'] !== $_SESSION['oVarient']) {
                        @$_SESSION['oVarient'] = $fields['Varient'];
                    }

    }
    /*
     * ============================================================================================================
     * Do not move this anywhere! This file requires variables from above.
     */
    require_once './sqldatabase.php';
    /*
     * Mineral types(their ID numbers).
     */
    $tritanium = "" . $ID_ARRAY['tritanium'] . "";
    $pyerite = "" . $ID_ARRAY['pyerite'] . "";
    $mexallon = "" . $ID_ARRAY['mexallon'] . "";
    $isogen = "" . $ID_ARRAY['isogen'] . "";
    $nocxium = "" . $ID_ARRAY['nocxium'] . "";
    $zydrine = "" . $ID_ARRAY['zydrine'] . "";
    $megacyte = "" . $ID_ARRAY['megacyte'] . "";

    //Moon types (their ID numbers
    $Arkonor = "" . $ID_ARRAY['Compressed Arkonor'] . "";
    $Bistot = "" . $ID_ARRAY['Compressed Bistot'] . "";
    $Crokite = "" . $ID_ARRAY['Compressed Crokite'] . "";
    $Gneiss = "" . $ID_ARRAY['Compressed Gneiss'] . "";
    $Spodumain = "" . $ID_ARRAY['Compressed Spodumain'] . "";
    $Ochre = "" . $ID_ARRAY['Compressed Dark Ochre'] . "";
    $ConstructionBlocks = "".$ID_ARRAY['Construction Blocks']."";



    // SQL tag information
    // ".$row['typeID']." Ship ID info.
    // ".$ShipTritanium['quantity']." tritanium ship Number
    // ".$ShipDescription['description']."
    // $MathTest = "number_format(max(1,ceil(1[" . $ShipTritanium['quantity'] . "]*(100-10)/100*0.9702))*1";

    $BPRuns = 1;
    $Build = (isset($fields['sdp'])) ?  $fields['sdp']  : 1;
    $ME = (isset($fields['BPODrop'])) ? $fields['BPODrop'] : 1;
    $rigBonus = 0;
    $structureBase = 1;
    $structureEngineering = .99;
    $structureRefining = .98;
    $rigHighsec = .99;
    $Varient = (isset($fields['Varient'])) ? $fields['Varient'] :0;
    // Extra ship Information
    //
    // Replace this with the proper HTML output for your ship.
    //
    echo ("    <section class=\"container-fluid\" >
            <div class=\"row\">
                <div class=\"col-md-3 leftNav\">
                  <div class=\"media\">
                    <div class=\"media-left\">
                      <a href=\"https://wiki.eveuniversity.org/" . $ShipInformation['typeName'] . "\" target=\"_blank\"\">
                        <img class=\"media-object\" src='https://images.evetech.net/types/" . $ShipInformation['typeID'] . "/render' style=\"max-width: 100%; max-height: 100%;\" alt='Ship Image goes Here, Mail SkippTekk or tweet @XGKIPPY for a fix'>
                      </a>
                      <h4 class=\"media-heading\">Default values of the ship.</h4>
                      <p>Ship Power: ".number_format($ShipInformation['capacity'])."
                      <p>Ship Mass: ".number_format($ShipInformation['mass'])."
                      <p>Ship Volume: ".number_format($ShipInformation['volume'])."
                      <p> Testing: ".$ShipVarient['Info']['groupID']."
                    </div>
                  </div>
                </div>
                <div class=\"col-md-6 content\">
                  <h1>".$ShipInformation['typeName']." ID: " . $ShipInformation['typeID'] . "</h1>
                  Ship Tree Location:<p>" . $fields['__m1'] . "->" . $fields['__m2'] . " -> ".$fields['__m3']."

                  <div class=\"Rigs\" style=\"text-align:center;\">
                  <div class=\"SliderUi\" style=\"\">
                  <label for=\"minval\">Blueprint Material Efficiency Level(0-10): <input class=\"BPODrop\" type='number' min='0' max='10'></label>
                  <label for=\"minval\">How many ships are being built: <select name='ShipDrop' class=\"ShipDrop\"></select></label>
                  </div><br>
                  <fieldset>
                  <legend>Select your Rig (not working)</legend>
                  <select>
                  <option value=\"noRig\">No Rig</option>
                  <option value=\"Tech1\">Tech 1</option>
                  <option value=\"Tech2\">Tech 2</option>
                  </select>
                  </fieldset>
                  <fieldset>
                  <legend>Select your Location </legend>
                  <select id=\"selectMe\">
                    <option value=\"high\">Highsec</option>
                    <option value=\"low\">Lowsec</option>
                    <option value=\"nullwh\">NullSec/WH</option>
                  </select>
                  </fieldset>
                  </div>
                  <div class=\"Rigs\" style=\"text-align:center;\">
                  <fieldset>
                  <h1><legend>Ore Bonus Varient (not working)</legend></h1>
                  <select name=\"Variend\" id=\"Varient\">
                  <option value=\"0\">0%</option>
                  <option value=\"1\">5%</option>
                  <option value=\"2\">10%</option>
                  <option value=\"3\">15%</option>
                  </select>
                  </fieldset>
                  </div>
                  <table class=\"table\">
                  <thead>
                  <tr>");
if (id == high) {
    echo "This is High";
  } elseif (id == low){
    echo "This is low";
  } elseif (id == nullwh){
    echo "This is Null";
  }


                  echo ("<th>Minerals</th>
                  <th>Citadel</th>
                  <th>Engineering</th>
                  <th>Refining</th>
                  </tr>
                  </thead>");
                  while ($row = $q->fetch()): {
                  echo ("
                  <tbody>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $row['materialTypeID'] . "/icon'><a href=\"http://eve.wikia.com/wiki/" . $row['typeName'] . "\" target=\"_blank\">" . $row['typeName'] . "</a></td>
                  <td>".number_format((max(1, ceil($row['quantity']*(1-$ME*0.01)*$structureBase*(1-$rigBonus))))*$Build)."</td>
                  <td>".number_format((max(1, ceil($row['quantity']*(1-$ME*0.01)*$structureEngineering*(1-$rigBonus))))*$Build)."</td>
                  <td>".number_format((max(1, ceil($row['quantity']*(1-$ME*0.01)*$structureRefining*(1-$rigBonus))))*$Build)."</td>
                  </tr>
                  </tbody>");
                  } endwhile;
                  echo("
                    <table class=\"table\">
                  <th>Compressed Ore</th>
                  <th>Ore Count</th>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Arkonor . "/icon'><a href=\"http://eve.wikia.com/wiki/Arkonor\" target=\"_blank\">Arkonor</a></td>
                  <td>Math goes here</td>
                  </tr>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Bistot . "/icon'><a href=\"http://eve.wikia.com/wiki/Bistot\" target=\"_blank\">Bistot</a></td>
                  <td>Moon shit here</td>

                  </tr>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Crokite . "/icon'><a href=\"http://eve.wikia.com/wiki/Crokite\" target=\"_blank\">Crokite</a></td>
                  <td>Moon shit here</td>

                  </tr>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Gneiss . "/icon'><a href=\"http://eve.wikia.com/wiki/Gneiss\" target=\"_blank\">Gneiss</a></td>
                  <td>Moon shit here</td>

                  </tr>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Spodumain . "/icon'><a href=\"http://eve.wikia.com/wiki/Spodumain\" target=\"_blank\">Spodumain</a></td>
                  <td>Moon shit here</td>

                  </tr>
                  <tr>
                  <td><img src='https://images.evetech.net/types/" . $Ochre . "/icon'><a href=\"http://eve.wikia.com/wiki/Ochre\" target=\"_blank\">Ochre</a></td>
                  <td>Moon shit here</td>

                  </tr>
                  </table>
                </div>
                <div class=\"col-md-3 reletedContent\">
                </a>
                <b>Ship Description and Data</b>:<p>
                " . $ShipInformation['description'] . "
                </div>
            </div>
        </section>");


?>
<script>
	$(document).ready(function(){
		var bgBpo = "<?php echo $fields['BPODrop']; ?>";
		var bgsdp = "<?php echo $fields['sdp']; ?>";
		var bgVarient = "<?php echo $fields['Varient'];?>";

		var x = 1;
		while(x < 100) {
			$("select.ShipDrop").append(`<option value='${x}'>${x}</option>`);
			x+=1;
		}

		$(".BPODrop").val(bgBpo);
		$(".ShipDrop").val(bgsdp);
		$(".Varient").val(bgVarient);

		$(".ShipDrop").change(function(){
			window.clearTimeout(window.timeoutA);
			window.timeoutA=window.setTimeout(infoAdjust, 500);
		});
		$(".Varient").change(function(){
			window.clearTimeout(window.timeoutA);
			window.timeoutA=window.setTimeout(infoAdjust, 500);
		});

		$(".BPODrop").change(function(){
			if($(this).val() < Number($(this).prop('min')) || $(this).val() > Number($(this).prop('max'))) { alert("One or more fields is set too high or too low");  return; }

			window.clearTimeout(window.timeoutC);
			window.timeoutC=window.setTimeout(infoAdjust, 500);
		});
		  $("input[placeholder]").each(function () {
		          $(this).attr('size', $(this).attr('placeholder').length);
		      });
	});
	$(document).ready(function () {
		  $('.group').hide();
		  $('#high').show();
		  $('#selectMe').change(function () {
		    $('.group').hide();
		    $('#'+$(this).val()).show();
		  })
		$("input[placeholder]").each(function () {
		        $(this).attr('size', $(this).attr('placeholder').length);
		    });
		});
</script>
