<div class="alert alert-success" role="alert">
  SSO doesn't work.
	<p>A huge rework has been implemented. Website now works in Mobile and desktop Much cleaner now! Hope you guys enjoy.
		<hr>
		 Looking for coders! Would be great if you mailed me or joined the discord
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</div>
