<header class="container">

    </header>
    <section class="container-fluid" >
        <div class="row">
            <div class="col-md-3 leftNav">
              <script type="text/javascript" src="//cdn.jsdelivr.net/gh/restingcoder/discord-widget@1.1/discord-widget.min.js"></script>
  <script type="text/javascript">
      discordWidget.init({
          serverId: '656049566046748694',
          title: 'Biscuits Industry',
          join: true,
          joinText: 'Join Server',
          alphabetical: false,
          theme: 'dark',
          hideChannels: ['Channel Name 1', 'Channel Name 2'],
          showAllUsers: true,
          allUsersDefaultState: true,
          showNick: false,
          userName: '',
          useCDN: true
      });
      discordWidget.render();
  </script>
  <div class="discord-widget"></div>
            </div>
            <div class="col-md-6 content">
            <p>Hi there, thanks for checking out the website, To begin you will need to select a ship from the top navagation, </p>
      Here is an example
 <b>video will come later time.</b>
            </div>
            <div class="col-md-3 reletedContent">
            <div class="media\">
                    <div class="media-left">
                    <h4 class="media-heading">I Like Biscuits.</h4>
                      <a href="https://evewho.com/pilot/I+like+biscuits" target="_blank">
                        <img class="media-object" src='https://images.evetech.net/characters/95046472/portrait' style="max-width: 100%; max-height: 100%;" alt='Ship Image goes Here, Mail SkippTekk or tweet @XGKIPPY for a fix'>
                      </a>

                    </div>
                  </div>
            </div>
        </div>
    </section>
